.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.product {
  background: white;
  display: flex;
  flex-direction: row;
  width: 100px;
  height: 100px;
  margin: 25px;
  
}

.shoppingCartItems {
  color: black;
  display: flex;
  flex-direction: row;
  height: 100px;
  width: 100px;
  text-align: center;
  justify-content: center;

}
