.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:#FF2F21;
  
}

.Product {
  display: flex;
  flex-direction: row;
  width: 100px;
  height: 100px;
  margin: 25px;
  
}

